{% extends "templates/home.html" %}

{% from "vars.html" import keycloak_account_url %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="text-center">
      {% if user.running %}
      <a id="stop" role="button" class="btn btn-lg btn-danger">Stop My Server</a>
      {% endif %}
      <a id="start"role="button" class="btn btn-lg btn-primary" href="{{ url }}">
      {% if not user.running %}
      Start
      {% endif %}
        My Server
      </a>
      <a id="account"role="button" class="btn btn-lg btn-primary" href="{{ keycloak_account_url }}" target="_blank">My Account</a>
    </div>
  </div>
  <div class="row">
    <div class="text-center">
      <a id="start"role="button" class="btn btn-lg btn-primary" href="/services/dask-monitor" target="_blank">Dask Monitor</a>
    </div>
  </div>

<div class="row">
    <div class="text-center">

<script>
 setInterval(function() {
 $.ajax({
  type: "GET",
  url: "/services/dask-controller/pods",
 })
  .done(function( data ) {
    console.log(data);
    var tableHtml = '';
    for (i = 0, ilen = data.length; i < ilen; ++i) {
      tableHtml += '<tr>';
      for (j = 0, jlen = data[i].length; j < jlen; ++j) {
        tableHtml += '<td>' + data[i][j] + '</td>';
      }
      tableHtml += '</tr>';
    }
    $("#table-box").html(tableHtml)
   }).fail(function(jqXHR, textStatus, errorThrown) {
     console.log(jqXHR, textStatus, errorThrown);
   });
  }, 1000 * 2);
  </script>
<table border="2" cellpadding="4" cellspacing="5" id="table-box" >
</table>

    </div>
</div>

</div>
{% endblock %}
